<Limber::Editor::State as |state|>

  {{#if (state.matches 'editingWithMonaco')}}

    <Limber::Editor::Target @editor={{this.monaco}} />

  {{else if (state.matches 'editingWithCodeMirror')}}

    <Limber::Editor::Target @editor={{this.codemirror}} class="overflow-y-auto" />

  {{else}}
    <div class="relative border border-gray-900 bg-gray-800" ...attributes>

      {{#if (or (state.matches 'loadMonaco') (state.matches 'loadCodeMirror'))}}
        <Limber::Editor::Loader />
      {{/if}}

      {{#if (state.matches "error")}}
        <Limber::Editor::LoadingError @error={{state.context.error}} />
      {{/if}}

      <Limber::Editor::Placeholder />
    </div>
  {{/if}}

</Limber::Editor::State>
