{{!-- template-lint-disable no-inline-styles --}}
<div
  data-test-editor-loader
  class="
    z-10 absolute inset-0 grid
    items-center content-center text-center
    bg-gray-800 bg-opacity-40
    text-white text-3xl font-semibold
  "
>
  Loading Editor...
</div>
