{{#let (service 'editor') as |context|}}
  <Shadowed @omitStyles={{true}} ...attributes class="border border-gray-900 overflow-hidden">
    <div
      style="width: 100%; height: 100%;"
      {{@editor
        context.text
        context.updateText
        setValue=context.swapText
      }}
    >{{context.text}}</div>
  </Shadowed>
{{/let}}

