{{#let (service 'editor') as |context|}}
  <div
    {{@editor
      context.text
      context.updateText
      setValue=context.swapText
    }}
    class="
      font-sm font-mono bg-gray-800 text-white
      border border-gray-900 overflow-hidden
    "
    ...attributes
  >{{context.text}}</div>
{{/let}}

