registry = https://registry.npmjs.org
ignore-scripts = true

# super strict mode
auto-install-peers=false 
resolve-peers-from-workspace-root=false 

# NOTE: default is lowest-direct
# which is best for folks that want the 
# package.json to be the source of truth
# resolution-mode=lowest-direct
resolution-mode=highest
