registry = https://registry.npmjs.org
ignore-scripts = true

####################
# super strict mode
####################
auto-install-peers=false 
strict-peer-dependents=true
minimumReleaseAge=7

################
# Optimizations
################
# Less strict, but required for tooling to not barf on duplicate peer trees.
# (many libraries declare the same peers, which resolve to the same
#  versions)
peers-suffix-max-length=40
dedupe-injected-deps=true
dedupe-peer-dependents=true
; We disable this one because it removes the whole node_modules directory entirely
; (problematic for for invoking tools (tsc, glint, etc)
; dedupe-direct-deps=true


################
# Hacks 
################
public-hoist-pattern[]=ember-source

################
# Compatibility
################
# highest is what everyone is used to, but
# not ensuring folks are actually compatible with declared ranges.
resolution-mode=highest
