registry = https://registry.npmjs.org
ignore-scripts = true

# super strict mode
####################
auto-install-peers=false 
strict-peer-dependents=true


# Compatibility
################
# highest is what everyone is used to, but
# not ensuring folks are actually compatible with declared ranges.
resolution-mode=highest
