<Limber::Guest />

<main
  class="grid grid-flow-col h-screen max-h-screen grid {{if (not (in-iframe)) 'grid-rows-editor'}} "
>
  {{#if (not (in-iframe))}}
    <Limber::Header />
  {{/if}}

  <Limber::Layout>
    <:editor>
      <Limber::Editor />
    </:editor>

    <:output>
      <Limber::FrameOutput />
    </:output>
  </Limber::Layout>
</main>