<div class="relative">
  <label
    class="absolute top-0 left-2 z-10 text-black select-none pointer-events-none"
    for='demo-select'
  >
    Select demo
  </label>

  <select
    id='demo-select'
    name='demo-select'
    class="px-2 py-1 z-0"
    {{on 'change' this.select}}
  >
    <option value="">Clear</option>

    {{#each this.demos as |demo|}}
      <option value={{demo.snippet}} selected={{this.isSelected demo.snippet}}>{{demo.label}}</option>
    {{/each}}

  </select>
</div>
