{{#let (service 'editor') as |context|}}
  <div
    {{monaco context.text context.updateText}}
    class="bg-gray-800 text-white max-h-full resize-x border border-gray-900"
    {{!-- template-lint-disable no-inline-styles --}}
    style="width: calc(40vw - 16px)"
  >
  </div>
{{/let}}