{{!--
  TODO: make this an inline component when template-imports
        stabilizes
--}}
<button
  type="button"
  class="
    text-left
    block px-4 py-2 text-sm hover:text-gray-900
    rounded
    hover:text-ember-light-blue focus:ring-4 focus-visible:outline-none focus:outline-none
  "
  ...attributes
>
  {{yield}}
</button>
