{{!--
  TODO: make this an inline component when template-imports
        stabilizes
--}}
<button
  type="button"
  class="
    block px-4 py-2 mt-2 text-sm hover:text-gray-900
    focus:text-gray-900 hover:bg-gray-200
    focus:bg-gray-200 focus:outline-none focus:shadow-outline
  "
  ...attributes
>
  {{yield}}
</button>
