@import './primitives.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  touch-action: manipulation;
}

/**
 * https://www.w3schools.com/howto/howto_css_loader.asp
 */

.loader {
  border: 4px solid var(--ember-faint-gray);
  border-radius: 50%;
  border-top: 4px solid var(--code-keyword);
}

.copy-menus-hidden [data-test-copy-menu] {
  display: none;
}

.glimdown-render {
  margin-top: 0.5rem;
}

.glimdown-render button {
  color: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: var(--code-bg);
  border: 1px solid var(--horizon-border);
}

.glimdown-render button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.glimdown-render button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.glimdown-render button:hover {
  opacity: 0.9;
}

.gutter {
  background: var(--code-keyword);
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
}

.menu__keyboard__help {
  font-size: 0.65rem;
  padding: 0.1rem 0.6rem 0.3rem 1rem;
  background: white;
  color: black;
  z-index: -1;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media (pointer:coarse) {
  .menu__keyboard__help {
    display: none;
  }
}

pre.shiki {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0px 1px 1px 1px black;
}

.limber__editor-placeholder pre.shiki {
  padding: 0;
  padding-left: 1rem;
  box-shadow: none;
}


