html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;
}

iframe {
  border: 0;
  width: 100%;
  /* idk don't @ me */
  height: 100vh !important;
  height: 100dvh !important;
}

section[data-words] [data-prose] pre {
  overflow-x: auto;
}
