<Limber::Portals />

<main
  class="
    grid grid-flow-col h-screen max-h-screen grid
    {{if (not (in-iframe)) 'grid-rows-editor'}}
  "
>
  {{#if (not (in-iframe))}}
    <Limber::Header />
  {{/if}}

  <Limber::Main />
</main>