{{page-title "Limber » Ember Markdown Playground"}}

<Limber::Portals />

<main class="grid grid-flow-col h-screen max-h-screen grid grid-rows-editor">
  <Limber::Header />

  <div class="flex flex-col lg:flex-row overflow-hidden">
    <Limber::EditorControls as |Controls container|>
      <section
        data-test-editor-panel
        class="
          grid resize-y lg:resize-x overflow-hidden
          relative
          w-full lg:w-[40vw]
          h-[40vh] lg:min-h-full"
        {{container}}
      >
        <Controls />
        <Limber::Editor />
      </section>
    </Limber::EditorControls>

    {{!-- template-lint-disable no-inline-styles --}}
    <section class="flex-1 shadow-inner grid overflow-hidden relative" style="grid-template-rows: min-content 1fr;">
      <Limber::Navigation />

      <div class="overflow-auto relative bg-white" {{constrain-vertically}} data-test-output>
        {{outlet}}
      </div>

      <Limber::Building />
      <Limber::Error />
    </section>
  </div>

</main>
