<Limber::Portals />

<main class="grid grid-flow-col h-screen max-h-screen grid grid-rows-editor">
  {{#unless (in-iframe)}}
    <Limber::Header />
  {{/unless}}

  <ContainerQuery
    @features={{hash verticalSplit=(cq-aspect-ratio min=1)}}
    as |query|
  >
    <div
      class="
        {{if query.features.verticalSplit "flex-row" "flex-col"}}
        flex overflow-hidden"
    >
      <Limber::EditorContainer />

      {{! template-lint-disable no-inline-styles }}
      <section
        class="flex-1 shadow-inner grid overflow-hidden relative"
        style="grid-template-rows: min-content 1fr;"
      >
        {{#unless (in-iframe)}}
          <Limber::Navigation />
        {{/unless}}

        <div
          class="overflow-auto relative bg-white"
          {{constrain-vertically}}
          data-test-output
        >
          {{outlet}}
        </div>

        <Limber::Building />
        <Limber::Error />
      </section>
    </div>
  </ContainerQuery>

</main>