<Limber::Menu data-test-demo-select ...attributes>
  <:trigger as |menu|>
    <span class="grid grid-flow-col gap-2 items-center">
      Select demo
      {{#if menu.isOpen}}
        <FaIcon @icon="angle-up" class="min-w-3" />
      {{else}}
        <FaIcon @icon="angle-right" class="min-w-3" />
      {{/if}}
    </span>
  </:trigger>

  <:options as |Item|>
    {{#each this.demos as |demoName|}}
      <Item {{on 'click' (fn this.select demoName)}} data-test-demo>
        {{demoName}}
      </Item>
    {{/each}}
  </:options>
</Limber::Menu>
