{{!--
  https://github.com/ember-template-lint/ember-template-lint/issues/1968
  https://github.com/ember-a11y/ember-select-light/issues/37
--}}
{{!-- template-lint-disable no-passed-in-event-handlers --}}
<SelectLight
  @change={{this.select}}
  class="
    text-black focus:ring-4 sm:text-sm
    rounded-sm px-2 py-1
  "
  data-test-demo-select
  ...attributes
>
  <option value="" disabled selected>Select demo</option>

  {{#each this.demos as |demo|}}
    <option data-test-demo value={{demo.snippet}}>{{demo.label}}</option>
  {{/each}}
</SelectLight>

