{{#let (service 'editor') as |context|}}
  {{#if context.error}}

    <footer
      data-test-error
      class="
        rounded fixed right-4 bottom-4 p-4
        bg-red-100 text-black shadow-md border border-red-700
        max-w-[60vw]
      "
    >
      {{!-- template-lint-disable simple-unless --}}
      {{#unless (is-active 'ember')}}
        Click
        <LinkTo @route="ember" class="underline hover:text-black">
          here to view the compiled markdown
        </LinkTo>

        <br>
      {{/unless}}

      <pre class="whitespace-pre-wrap">{{context.error}}</pre>
    </footer>
  {{/if}}
{{/let}}