html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(30%, 30rem) 1fr;
}

section {
  display: grid;
  grid-template-rows: min-content 1fr;
}

section select {
  font-size: 1.2rem
}

iframe {
  border: 0;
  width: 100%;
  /* idk don't @ me */
  height: 100vh !important;
}
