<@item as |item|>
  <item.Element
    @tagName="button"
    class="
      bg-transparent
      block w-full select-none relative py-2 px-4 text-left
      text-black hover:bg-gray-100 focus:ring-4 ring-inset focus:outline-none
    "
    tabindex="0"
    data-test-menu-button
    ...attributes
  >
    {{yield}}
  </item.Element>
</@item>
