{{#let (service 'editor') as |context|}}

  <div class="p-4 prose max-w-full">

    {{#if context.component}}
      {{#let (component context.component) as |Preview|}}
        <div {{highlight-code-blocks context.component}}>
          <Preview />
        </div>
      {{/let}}
    {{/if}}

  </div>

{{/let}}
