{{page-title "Limber » Ember Markdown Playground"}}

<main class="grid grid-flow-col h-screen grid grid-rows-editor">
  <Limber::Header />

  {{!-- template-lint-disable no-inline-styles --}}
  <div class="grid" style="grid-template-columns: auto 1fr;">
    <Limber::Editor />

    <section class="w-full shadow-inner">
      <Limber::Navigation />

      {{outlet}}

      <Limber::Error />
    </section>
  </div>

</main>