{{#let (service 'editor') as |context|}}

  {{#if context.template}}
    {{#let (stringify context.template) as |opcodes|}}
      <pre class="json p-4" {{highlighted opcodes}}><code class="json">{{opcodes}}</code></pre>
    {{/let}}
    {{!--
    <div class="fixed right-0 top-7 p-4 shadow-md border border-gray-800">
      {{bytecode-info context.template}}
    </div>
    --}}
  {{/if}}

{{/let}}
