name: Preview Embroider Upgrade
on:
  workflow_dispatch:
  schedule:
    # Runs "at minute 0 minutes past midnight" (see https://crontab.guru)
    - cron: '0 0 * * *'

env:
  branch: "preview-embroider-upgrade"
  title: "[Unstable] Preview embroider upgrade"
  body: |
    Automated and continuously updated PR (nightly via cron)
    _Do not merge_
  commit: "Update all embroider deps to the unstable version (main)"

jobs:
  update_unstable_branch:
    name: Update Unstable Branch
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4
      - uses: wyvox/action-setup-pnpm@v3
      - run: npx ember-apply@latest unstable-embroider
      - run: pnpm install --fix-lockfile --frozen-lockfile=false
      - uses: peter-evans/create-pull-request@v5
        with:
          # A PAT is required to trigger further workflows
          token: ${{ secrets.WORKFLOW_TOKEN }}
          commit-message: ${{ env.commit }}
          draft: true
          branch: ${{ env.branch }}
          base: 'main'
          title: ${{ env.title }}
          body: ${{ env.body }}
